@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$orange: #fd7d2d;
$pink: #f751b9;
$blue: #1985f2;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background: rgba(25, 133, 242, 0.3);
    width: 100%;
    height: auto;
    position: relative;
    min-height: 100vh;
    padding-bottom: 300px;
}
html {
    font-size: 14px;
}
button {
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    transition: 0.5s ease;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
}
button {
    cursor: pointer;
}
ul {
    list-style: none;
}
p,
span,
ul li,
h1,
h2,
h3,
h4,
h5,
h6 {
    transition: 0.5s ease-in-out;
    margin: 0;
}

// TOP NAV
.top-header {
    padding: 5px 0 8px 0;
    padding-top: 20px;
    color: #000000;
    font-weight: 300;

    path {
        fill: #000000;
    }
    a {
        font-size: 16px;
    }
    .cart {
        height: 30px;
        position: relative;
        img {
            height: 30px;
            width: 30px;
            object-fit: contain;
        }
        .cart__number {
            position: absolute;
            top: -5px;
            right: -10px;
            span {
                background: $pink;
                color: #ffffff;
                padding: 3px 8px;
                border-radius: 50%;
            }
        }
    }
}
.logo__wrapper {
    padding: 10px 0;
    .nav__logo {
        margin: 0 auto;
        svg {
            height: 100px;
            width: auto;
        }
    }
}
.nav-wrapper {
    background: rgba(25, 133, 242, 0.3);
    box-shadow: 0px 4px 6px #0000001a;
    .navbar-nav {
        a {
            margin: 0 18px 5px 18px;
            color: $pink;
            font-size: 15px;
            font-weight: 500;
        }
    }
}

// HERO
.hero {
    margin-bottom: 50px;
    &__bg {
        height: 400px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .new-arrivals {
        box-shadow: 0px 3px 40px #0000001d;
        background: #ffffff;
        margin-top: -30px;
        h1 {
            background: #34bfc7;
            color: #ffffff;
            text-align: center;
            font-size: 20px;
            padding: 10px;
        }
        .card__img {
            height: 400px;
            width: 100%;
            img {
                object-fit: cover;
            }
            position: relative;
            .card__text {
                position: absolute;
                bottom: 10px;
                left: 10px;
                right: 0;
                p {
                    font-size: 25px;
                    color: #ffffff;
                }
            }
        }
        .card__img-2 {
            p {
                font-size: 18px;
                margin-top: 10px;
                color: #303030;
            }
            span {
                color: #303030;
                font-size: 12px;
            }
            .price {
                color: #e91c6a;
            }
        }
    }
    .top-seller {
        margin-top: 100px;
        box-shadow: 0px 3px 40px #0000001d;
        background: #ffffff;
        h1 {
            background: $pink;
            color: #ffffff;
            text-align: center;
            font-size: 20px;
            padding: 10px;
        }
    }
    .top-seller {
        .top-sell__card {
            height: 500px;
            width: 100%;
            position: relative;
            img {
                object-fit: cover;
            }
            .top-sell__card-info {
                position: absolute;
                bottom: -30px;
                left: 50%;
                transform: translateX(-50%);
                width: auto;
                background: $pink;
                padding: 20px;
                color: #ffffff;
                h4 {
                    margin-bottom: 10px;
                }
                p {
                    font-size: 12px;
                    color: #ffffff;
                }
            }
        }
    }
}

.singleProduct {
    padding: 10px 5px;
    transition: 0.5s ease all;
    &__img {
        height: 250px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    p {
        color: #303030;
        padding: 10px 5px;
    }
    h3 {
        color: #303030;
        padding: 0 5px;
    }
}
.singleProduct:hover {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 10px #00000033;
}

.feature {
    margin: 50px 0;
}
.title {
    padding: 10px 0;
    color: #646464;
    border-bottom: 3px solid $blue;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #232323;
    color: #ffffff;
    padding: 30px 0 0 0;
    h4 {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 5px;
        font-weight: 400;
    }
    .subscribe {
        text-align: center;
        h3 {
            font-weight: 500;
            text-align: center;
        }
        h5 {
            font-size: 16px;
            color: #ffffff;
            opacity: 0.8;
            margin: 10px 0 20px 0;
        }
        .input-field {
            text-align: center;
            input {
                border: none;
                padding: 10px;
            }
            button {
                background: $pink;
                border: none;
                color: #ffffff;
                padding: 10px 25px;
            }
        }
    }
    .quick-link {
        a {
            display: block;
            margin-bottom: 5px;
        }
    }
    .copy-right {
        background: #1a1a1a;
        .container {
            display: flex;
            justify-content: space-between;
            p {
                font-weight: 300;
                padding: 10px 0;
            }
        }
    }
}

.sign-in {
    &__wrapper {
        padding: 40px 0;
        width: 50%;
        margin: 0 auto;
    }
    h1 {
        text-align: center;
        letter-spacing: 1.5px;
        color: #000000;
        margin: 0 0 30px 0;
    }
    button {
        background: $pink;
        color: #ffffff;
        padding: 10px 50px;
        border: none;
        border-radius: 30px;
    }
}

.product-details {
    padding: 30px 0;
    &__img {
        height: 400px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__pricing {
        p {
            color: #646464;
            margin: 10px 0;
            font-size: 16px;
        }
        .price {
            padding: 20px 40px;
            background: #ffffff 0% 0% no-repeat padding-box;
            border: 2px solid #e2e2e2;
            border-radius: 25px;
            display: flex;
            align-items: center;
            width: auto;
            button {
                margin-left: 20px;
                background: $pink 0% 0% no-repeat padding-box;
                border-radius: 25px;
                padding: 10px 40px;
                border: none;
                color: #ffffff;
            }
        }
    }
    .payment {
        margin-top: 20px;
        display: flex;
        span {
            padding-right: 20px;
        }
        img {
            margin-right: 10px;
            width: 30px;
            height: 20px;
            object-fit: contain;
        }
    }
    &__description {
        margin-top: 40px;
        .title {
            font-size: 25px;
        }
        p {
            margin: 20px 0;
        }
        &__img {
            height: 400px;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    .related-products {
        margin-top: 40px;
    }
}

.checkout {
    margin: 40px 0;
    table {
        width: 100%;
        tr {
            padding: 20px 0;
        }
        .name {
            img {
                width: 100px;
                height: 50px;
                object-fit: contain;
            }
        }
    }
    &-form {
        background: #fbfbfb;
        box-shadow: 0px 4px 10px #00000033;
        padding: 20px 40px;
        form {
            button {
                margin-top: 20px;
                background: $pink;
                color: #ffffff;
                padding: 10px 40px;
                border-radius: 30px;
                border: none;
            }
        }
    }
}

.admin-panel {
    margin-top: 40px;
    margin-bottom: 40px;
    &__table {
        .action-wrap {
            display: flex;
            button {
            }
        }
    }
    .form-wrapper {
        width: 60%;
        margin: 30px auto;
        button {
            background: $pink;
            border: none;
            color: #ffffff;
            padding: 10px 30px;
        }
    }
}
.profile {
    margin: 50px 0;
    &__img {
        height: 300px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__text {
        h3 {
            margin-bottom: 10px;
            font-weight: 400;
        }
        h4 {
            font-weight: 400;
        }
    }
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    /* border-bottom: 2px solid #3498db; */
    border-radius: 50%;
    width: 13px;
    height: 13px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
